@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "AbrilFatface";
  src: url("../public/fonts/AbrilFatface-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

